.cal_day{
  text-align: center;
}
.cal{
  width: 100px;
  height: 100px;
  text-align: center;
  vertical-align: top;
  overflow-y: auto;
}
.cal_des{
  margin: auto;
  border-collapse: collapse;
  table-layout: fixed;
}
tr,td{
  border: 1px solid #CCCCCC;
  padding: 5px 10px;
}
.button{
  margin: auto;
}
